snippet type
export const ${1:name} = '$1';
$0 
endsnippet

snippet im
import $1 from '$1';$0 
endsnippet

snippet imev
import {
  $1,
} from 'constants/Events';$0
endsnippet

snippet imec
import EventContext from 'lib/EventContext';$0 
endsnippet

snippet setct
${1:Component}.contextType = ${2:EventContext};$0
endsnippet

snippet cl
console.log($0);
endsnippet

snippet exd
export default $0;
endsnippet
